# Ignore Pycache
__pycache__/

# Ignore .env files
.env

# Ignore virtualenvs
venv/

# Ignore IDEs
.idea/
.vscode/

# One Time Token Generator
one_time_token_generator.py
```

# Ignore Heroku Procfile
Procfile
```

