# Ignore Pycache
__pycache__/

# Ignore .env files
.env

# Ignore virtualenvs
venv/

# Ignore IDEs
.idea/
.vscode/

# One Time Token Generator in bot/token_generator/one_time_token_generator.py
one_time_token_generator.py

